nwUsers.sapadmUID = {{ sapadm_uid }}
nwUsers.sapsysGID = {{ sapsys_gid }}
nwUsers.sidAdmUID = {{ sidadm_uid }}
NW_Delete_Sapinst_Users.removeUsers = false
nwUsers.sidadmPassword = {{ master_pass }}
NW_GetMasterPassword.masterPwd = {{ master_pass }}
archives.downloadBasket = {{ kernel_base_dir }}/
NW_SAPCrypto.SAPCryptoFile = {{ kernel_exe_sar }}/
NW_Unpack.igsExeSar = {{ kernel_igs_sar }}/
NW_Unpack.igsHelperSar = {{ kernel_helper_sar }}/
NW_Unpack.sapExeSar = {{ kernel_exe_sar }}/
NW_Unpack.sapJvmSar = {{ kernel_jvm_sar }}/
NW_getFQDN.FQDN = {{ ansible_fqdn }}
NW_getFQDN.resolve = true
NW_getFQDN.setFQDN = true
NW_System.installSAPHostAgent = false
InitDeclusteringForImport.decluster = false
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = {{ sapinst_pas_executeReportsForDepooling }}
# SAP HANA: import tasks to omit. To be used in combination with HDB_IMPORT_WITH_SDI=true.
# NW_ABAP_Import.hdbOmitTasksForSDI = TPIV
NW_ABAP_Import_Dialog.dbCodepage = {{ dbrefresh_sapinst_dbCodepage }}
# Communication port for the Migration Monitor.
# NW_ABAP_Import_Dialog.migmonComPort =
NW_ABAP_Import_Dialog.migmonComType = {{ dbrefresh_sapinst_migmonComType }}
NW_ABAP_Import_Dialog.migmonExchangeDir = {{ dbrefresh_export_filesystem }}
NW_ABAP_Import_Dialog.migmonJobNum = {{ dbrefresh_sapinst_migmonJobNum }}
NW_ABAP_Import_Dialog.migmonLoadArgs = {{ dbrefresh_sapinst_migmonLoadArgs }}
# NW_ABAP_Import_Dialog.migmonTaskArgs =
NW_ABAP_Import_Dialog.migrationKey = {{ dbrefresh_sapinst_migrationKey }}
NW_ABAP_Import_Dialog.useAdvancedLoadConfig = true
NW_ABAP_Import_Dialog.useParallelExportImport = {{ dbrefresh_sapinst_useParallelExportImport }}
# System copy AS Java with product instance Process Integration and/or Development Infrastructure:
# Specify whether the target system should replace the source system.
# Possible values are  'true' or 'false'.
# NW_CreateDBandLoad.movePVCforUsagePiAndDi =
NW_DDIC_Password.ddic000Password = {{ ddic_000_pass }}
# NW_Exit_Before_Systemstart.exit = false
NW_checkMsgServer.abapMSPort =
NW_getDBInfoGeneric.dbhost = {{ database_server_hostname }}
NW_getDBInfoGeneric.dbsid = {{ dbsid }}
NW_getLoadType.loadType = STD
NW_getUnicode.isUnicode = true
NW_readProfileDir.profileDir = /usr/sap/{{ sapsid }}/SYS/profile
NW_readProfileDir.profilesAvailable = true
ora.IgnoreClientVersion = false
NW_Unpack.dbaToolsSar = {{ kernel_dba_sar }}
NW_Unpack.sapExeDbSar = {{ kernel_exedb_sar }}
ora.SysPassword = {{ ora_sys_password }}
ora.SystemPassword = {{ ora_system_password }}
ora.advanced.ControlFile = false
ora.advanced.Policy = false
ora.advanced.PolicyBW = false
ora.advanced.parameter = false
ora.whatInstallation = isSingle
ora.whatIsASM = false
ora.whatIsOracleUser = true
storageBasedCopy.abapSchemaPassword = {{ abapSchemaPassword }}
# storageBasedCopy.javaSchemaPassword = {{ javaSchemaPassword }}
storageBasedCopy.ora.ABAPSchema = {{ abap_schema }}
# storageBasedCopy.ora.JavaSchema = {{ java_schema }}
storageBasedCopy.ora.serverVersion = {{ sapinst_pas_serverVersion }}
storageBasedCopy.ora.clientVersion = {{ sapinst_pas_clientVersion }}
storageBasedCopy.ora.swowner = oracle
ora.oraclePassword = {{ master_pass }}
ora.orasidPassword = {{ master_pass }}
ora.dbInstanceRam = {{ dbrefresh_sapinst_dbInstanceRam }}
ora.createStatisticsCodeABAP = SKIP
# ora.createStatisticsCodeJAVA = CREATE
ora.maxDatafileSize = {{ dbrefresh_sapinst_maxDatafileSize }}
SAPINST.CD.PACKAGE.ORACLI={{ db_client_sar }}
# ora.mirrlogDrive =
# ora.oraarchDrive =
# ora.origlogDrive =
# ora.sapdataDrive =
# ora.databaseVault.enable = false
# ora.databaseVault.secadminPassword = {{ master_pass }}
# ora.hasDatabaseVault = false
# ora.hasTDE = false
# Radio button for database creation. Possible values are: 'CREATEDB', 'MCOD', 'PDBINST'
# ora.rbDatabase =
# Checkbox 'chTablespace'
ora.advanced.policyTsp = {{ dbrefresh_sapinst_chTablespace_checkbox }}
# ora.advanced.tablespaceList = {{ dbrefresh_sapinst_tablespaceList }}
# ora.advanced.tablespaceListBW = {{ dbrefresh_sapinst_tablespaceList }}
ora.whatIsOracleUser = true
