nwUsers.sapadmUID = {{ sapadm_uid }}
nwUsers.sapsysGID = {{ sapsys_gid }}
nwUsers.sidAdmUID = {{ sidadm_uid }}
NW_Delete_Sapinst_Users.removeUsers = false
nwUsers.sidadmPassword = {{ master_pass }}
NW_GetMasterPassword.masterPwd = {{ master_pass }}
archives.downloadBasket = {{ kernel_base_dir }}/
NW_SAPCrypto.SAPCryptoFile = {{ kernel_exe_sar }}/
NW_Unpack.igsExeSar = {{ kernel_igs_sar }}/
NW_Unpack.igsHelperSar = {{ kernel_helper_sar }}/
NW_Unpack.sapExeSar = {{ kernel_exe_sar }}/
NW_Unpack.sapJvmSar = {{ kernel_jvm_sar }}/
NW_getFQDN.FQDN = {{ ansible_fqdn }}
NW_getFQDN.resolve = true
NW_getFQDN.setFQDN = true
MessageServer.configureAclInfo = {{ sapinst_pas_ms_configureAclInfo }}
NW_ABAP_SSFS_CustomKey.ssfsKeyInputFile =
NW_CI_Instance.ascsVirtualHostname = {{ scs_virtual_hostname }}
NW_CI_Instance.ciInstanceNumber = {{ pas_inst_num }}
NW_CI_Instance.ciMSPort = 36{{ ascs_inst_num }}
NW_CI_Instance.ciMSPortInternal =
NW_CI_Instance.ciVirtualHostname = {{ pas_virtual_hostname }}
NW_CI_Instance.createGlobalProxyInfoFile = {{ sapinst_pas_createGlobalProxyInfoFile }}
NW_CI_Instance.createGlobalRegInfoFile = {{ sapinst_pas_createGlobalRegInfoFile }}
NW_CI_Instance.scsVirtualHostname = {{ scs_virtual_hostname }}
# NW_CI_Instance_ABAP_Reports.enableActivateICFService = false
NW_CI_Instance_ABAP_Reports.enableSPAMUpdateWithoutStackXml = {{ sapinst_pas_enableSPAMUpdateWithoutStackXml }}
NW_CI_Instance_ABAP_Reports.enableTMSConfigWithoutStackXml = {{ sapinst_pas_enableTMSConfigWithoutStackXml }}
NW_CI_Instance_ABAP_Reports.enableTransportsWithoutStackXml = {{ sapinst_pas_enableTransportsWithoutStackXml }}
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = {{ sapinst_pas_executeReportsForDepooling }}
NW_DDIC_Password.ddic000Password = {{ ddic_000_pass }}
# NW_Exit_Before_Systemstart.exit = false
NW_System.installSAPHostAgent = false
NW_Unpack.dbaToolsSar = {{ kernel_dba_sar }}
NW_Unpack.sapExeDbSar = {{ kernel_exedb_sar }}
NW_WPConfiguration.ciBtcWPNumber = {{ sapinst_pas_btc_wp_number }}
NW_WPConfiguration.ciDialogWPNumber = {{ sapinst_pas_dia_wp_number }}
# NW_adaptProfile.templateFiles =
NW_checkMsgServer.abapMSPort =
NW_getDBInfoGeneric.dbhost = {{ database_server_hostname }}
NW_getDBInfoGeneric.dbsid = {{ dbsid }}
NW_getLoadType.loadType = STD
NW_getUnicode.isUnicode = true
NW_readProfileDir.profileDir = /usr/sap/{{ sapsid }}/SYS/profile
# hostAgent.sapAdmPassword =
ora.multitenant.installMT = FALSE
ora.multitenant.pdbsid = {{ dbsid }}
ora.oraclePassword = {{ master_pass }}
ora.orasidPassword = {{ master_pass }}
ora.whatInstallation = false
ora.whatIsASM = false
ora.whatIsOracleUser = true
storageBasedCopy.ora.ABAPSchema = {{ abap_schema }}
storageBasedCopy.ora.clientVersion = {{ sapinst_pas_serverVersion }}
# storageBasedCopy.ora.listenerName =
storageBasedCopy.ora.listenerPort = {{ sapinst_pas_oralistenerPort }}
storageBasedCopy.ora.serverVersion = {{ sapinst_pas_clientVersion }}
storageBasedCopy.ora.swowner = oracle
SAPINST.CD.PACKAGE.ORACLI={{ db_client_sar }}
