[cloud_storage]
provider = aws
#auth = {{ sap_hana_backint_awss3_auth_key }}
#auth = {{ sap_hana_backint_awss3_auth_role_arn }}
auth = implicit
bucket = {{ sap_hana_backint_awss3_bucket_name }}
region = {{ sap_hana_backint_awss3_region }}
#access_key = {{ sap_hana_backint_awss3_access_key }}
#secret_access_key = {{ sap_hana_backint_awss3_secret_access_key }}
#role_name = {{ sap_hana_backint_awss3_role_name_arn }}
multipart_chunksize = 100000000
max_concurrency = 10

[trace]
default = warning
cloudsdk = warning
destination = outputfile
#destination = tracedirectory
#tracedirectory = {{ sap_hana_backint_awss3_tracedirectory }}

[backint]
#Compression should be disabled when working with encrypted backups
#compression = zstd
compression_level = 10
compression = none
remove_key_prefix = /usr/sap/{{ sap_hana_deployment_hana_sid }}/SYS/global/hdb/backint/
additional_key_prefix = {{ sap_hana_deployment_hana_sid }}/
