#!/bin/bash
export PYTHONPATH=/usr/local/lib/python3.7/lib-dynload:/hana/shared/{{ sap_hana_deployment_hana_sid }}/aws-s3-backint/libs:/usr/local/lib/python3.7
PYTHON3_BIN=/usr/local/bin/python3.7
$PYTHON3_BIN "/hana/shared/{{ sap_hana_deployment_hana_sid }}/aws-s3-backint/src/hdbbackint/hdbbackint.py" "$@"
