nwUsers.sapadmUID = {{ sapadm_uid }}
nwUsers.sapsysGID = {{ sapsys_gid }}
nwUsers.sidAdmUID = {{ sidadm_uid }}
NW_Delete_Sapinst_Users.removeUsers = false
nwUsers.sidadmPassword = {{ master_pass }}
NW_GetMasterPassword.masterPwd = {{ master_pass }}
archives.downloadBasket = {{ kernel_base_dir }}/
NW_SAPCrypto.SAPCryptoFile = {{ kernel_exe_sar }}/
NW_Unpack.igsExeSar = {{ kernel_igs_sar }}/
NW_Unpack.igsHelperSar = {{ kernel_helper_sar }}/
NW_Unpack.sapExeSar = {{ kernel_exe_sar }}/
NW_Unpack.sapJvmSar = {{ kernel_jvm_sar }}/
NW_getFQDN.FQDN = {{ ansible_fqdn }}
NW_getFQDN.resolve = true
NW_getFQDN.setFQDN = true
NW_GetSidNoProfiles.sid = {{ sapsid }}
# NW_SCS_Instance.ascsInstallGateway = false
# NW_SCS_Instance.ascsInstallWebDispatcher = false
# NW_SCS_Instance.createGlobalRegInfoFile = false
NW_SCS_Instance.instanceNumber = {{ ascs_inst_num }}
# NW_SCS_Instance.scsMSPort =
NW_SCS_Instance.scsVirtualHostname = {{ scs_virtual_hostname }}
NW_System.installSAPHostAgent = false
NW_Unpack.dbaToolsSar = {{ kernel_dba_sar }}
NW_Unpack.sapExeDbSar = {{ kernel_exedb_sar }}
# SAPINST.CD.PACKAGE.ORACLI= {{ db_client_sar }}
nwUsers.dbtype = {{ db_product|lower }}
# ora.orasidPassword =  {{ master_pass }}
# storageBasedCopy.ora.ABAPSchema = {{ abap_schema }}
# storageBasedCopy.ora.clientVersion = 19
# storageBasedCopy.ora.serverVersion = 19
# storageBasedCopy.ora.swowner = oracle
