nwUsers.sapadmUID = {{ sapadm_uid }}
nwUsers.sapsysGID = {{ sapsys_gid }}
nwUsers.sidAdmUID = {{ sidadm_uid }}
NW_Delete_Sapinst_Users.removeUsers = false
nwUsers.sidadmPassword = {{ master_pass }}
NW_GetMasterPassword.masterPwd = {{ master_pass }}
archives.downloadBasket = {{ kernel_base_dir }}/
NW_SAPCrypto.SAPCryptoFile = {{ kernel_exe_sar }}/
NW_Unpack.igsExeSar = {{ kernel_igs_sar }}/
NW_Unpack.igsHelperSar = {{ kernel_helper_sar }}/
NW_Unpack.sapExeSar = {{ kernel_exe_sar }}/
NW_Unpack.sapJvmSar = {{ kernel_jvm_sar }}/
NW_getFQDN.FQDN = {{ ansible_fqdn }}
NW_getFQDN.resolve = true
NW_getFQDN.setFQDN = true
DiagnosticsAgent.InstanceNumber = {{ daa_inst_num }}
DiagnosticsAgent.LogicalHostName =
DiagnosticsAgent.SAPJVMVersion = SAPJVM8
DiagnosticsAgent.SID = DAA
DiagnosticsAgent.SolMan.Connection = none
DiagnosticsAgent.SolMan.UseSSL = false
DiagnosticsAgent.dasidAdmPassword = {{ master_pass }}
DiagnosticsAgent.installSAPHostAgent = true
hostAgent.sapAdmPassword = {{ master_pass }}
