nwUsers.sapadmUID = {{ sapadm_uid }}
nwUsers.sapsysGID = {{ sapsys_gid }}
nwUsers.sidAdmUID = {{ sidadm_uid }}
NW_Delete_Sapinst_Users.removeUsers = false
nwUsers.sidadmPassword = {{ master_pass }}
NW_GetMasterPassword.masterPwd = {{ master_pass }}
archives.downloadBasket = {{ kernel_base_dir }}/
NW_SAPCrypto.SAPCryptoFile = {{ kernel_exe_sar }}/
NW_Unpack.igsExeSar = {{ kernel_igs_sar }}/
NW_Unpack.igsHelperSar = {{ kernel_helper_sar }}/
NW_Unpack.sapExeSar = {{ kernel_exe_sar }}/
NW_Unpack.sapJvmSar = {{ kernel_jvm_sar }}/
NW_getFQDN.FQDN = {{ ansible_fqdn }}
NW_getFQDN.resolve = true
NW_getFQDN.setFQDN = true
DiagnosticsAgent.installSAPHostAgent = false
hostAgent.sapAdmPassword = {{ master_pass }}
NW_Users_Create.dbsid = {{ sapinst_dbsid }}
NW_Users_Create.hasABAP = {{ sapinst_hasabap }}
NW_Users_Create.hasJava = {{ sapinst_hasjava }}
NW_Users_Create.hostAgentOnly = false
NW_Users_Create.installDBUsers = true
NW_Users_Create.sid = {{ sapinst_sid }}
NW_Users_Create.whichOSUser = isAll
nwUsers.dbtype = {{ db_product| lower}}
ora.oraclePassword = {{ master_pass }}
ora.orasidPassword = {{ master_pass }}
storageBasedCopy.ora.ABAPSchema = {{ sapinst_abap_schema }}
storageBasedCopy.ora.clientVersion = {{ sapinst_clientversion }}
storageBasedCopy.ora.serverVersion = {{ sapinst_serverversion }}
storageBasedCopy.ora.swowner = oracle
