nwUsers.sapadmUID = {{ sapadm_uid }}
nwUsers.sapsysGID = {{ sapsys_gid }}
nwUsers.sidAdmUID = {{ sidadm_uid }}
NW_Delete_Sapinst_Users.removeUsers = false
nwUsers.sidadmPassword = {{ master_pass }}
NW_GetMasterPassword.masterPwd = {{ master_pass }}
archives.downloadBasket = {{ kernel_base_dir }}/
NW_SAPCrypto.SAPCryptoFile = {{ kernel_exe_sar }}/
NW_Unpack.igsExeSar = {{ kernel_igs_sar }}/
NW_Unpack.igsHelperSar = {{ kernel_helper_sar }}/
NW_Unpack.sapExeSar = {{ kernel_exe_sar }}/
NW_Unpack.sapJvmSar = {{ kernel_jvm_sar }}/
NW_getFQDN.FQDN = {{ ansible_fqdn }}
NW_getFQDN.resolve = true
NW_getFQDN.setFQDN = true
NW_GetSidNoProfiles.sid = {{ sapsid }}
NW_AS.instanceNumber = {{ aas_inst_num }}
NW_AS.start = true
NW_DI_Instance.virtualHostname = {{ aas_virtual_hostname }}
NW_Delete_Sapinst_Users.removeUsers = false
NW_checkMsgServer.abapMSPort =
NW_getDBInfoGeneric.dbhost = {{ database_server_hostname }}
NW_getDBInfoGeneric.dbsid = {{ dbsid }}
NW_getLoadType.loadType = STD
NW_getUnicode.isUnicode = true
NW_readProfileDir.profileDir = /sapmnt/{{ sapsid }}/profile/
ora.multitenant.installMT = FALSE
ora.whatInstallation = false
ora.multitenant.pdbsid = {{ dbsid }}
NW_System.installSAPHostAgent = false
NW_Unpack.dbaToolsSar = {{ kernel_dba_sar }}
NW_Unpack.sapExeDbSar = {{ kernel_exedb_sar }}
nwUsers.dbtype = {{ db_product| lower}}
ora.orasidPassword = {{ master_pass }}
storageBasedCopy.ora.ABAPSchema = {{ abap_schema }}
storageBasedCopy.ora.listenerPort = {{ sapinst_aas_oralistenerPort }}
storageBasedCopy.ora.clientVersion = {{ sapinst_aas_clientVersion }}
storageBasedCopy.ora.serverVersion = {{ sapinst_aas_serverVersion }}
storageBasedCopy.ora.swowner = oracle
SAPINST.CD.PACKAGE.ORACLI={{ db_client_sar }}
